.component_container{
    color: black;
    margin-top: clamp(20px, 20vw, 150px);
    padding-bottom: 50px;
    box-sizing: border-box;
}

.styled_header{
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.styled_header::after{
    display: block;
    content: '';
    position: absolute;
    width: 3px;
    height: 50%;
    background-color: gold;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.about_us_content_grid{
    grid-template-columns: 1fr .7fr 1fr;
    gap: 20px;
}

/* .about_us_content_container{
    padding-top: 50px;
} */

.check_icon{
    font-size: 24px;
}

@media screen and (max-width: 768px){
    .about_us_content_grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .about_us_image_container{
        width: 100%;
        object-fit: contain;
    }

    .about_us_image_container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .about_us_content_grid .grid-item{
        text-align: center;
        align-items: center;
        padding-block: 0px;
    }

    .component_container{
        padding-bottom: 20px
    }
}